apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: klustre-system

resources:
  - namespace.yaml
  - rbac.yaml
  - csi-driver.yaml
  - daemonset.yaml
  - storageclass-pv.yaml

# Simplified ConfigMap - only for user-configurable values
configMapGenerator:
  - name: klustre-csi-settings
    literals:
      - logLevel=info
      - nodeImage=ghcr.io/klustrefs/klustre-csi:0.0.1
# for local image
#      - nodeImage=klustrefs-csi:local
      - registrarImage=registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.10.1

replacements:
  # Image versions from ConfigMap (optional, can hardcode instead)
  - source:
      kind: ConfigMap
      name: klustre-csi-settings
      fieldPath: data.nodeImage
    targets:
      - select:
          kind: DaemonSet
          name: klustre-csi-node
        fieldPaths:
          - spec.template.spec.containers.[name=klustre-csi].image

  - source:
      kind: ConfigMap
      name: klustre-csi-settings
      fieldPath: data.registrarImage
    targets:
      - select:
          kind: DaemonSet
          name: klustre-csi-node
        fieldPaths:
          - spec.template.spec.containers.[name=node-driver-registrar].image

  - source:
      kind: ConfigMap
      name: klustre-csi-settings
      fieldPath: data.logLevel
    targets:
      - select:
          kind: DaemonSet
          name: klustre-csi-node
        fieldPaths:
          - spec.template.spec.containers.[name=klustre-csi].env.[name=LOG_LEVEL].value