apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: klustre-static
provisioner: lustre.csi.klustrefs.io
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Retain
mountOptions:
  - flock
  - user_xattr
allowedTopologies:
  - matchLabelExpressions:
      - key: lustre.csi.klustrefs.io/lustre-client
        values:
          - "true"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: klustre-static-pv
spec:
  capacity:
    storage: 96Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: klustre-static
  csi:
    driver: lustre.csi.klustrefs.io
    volumeHandle: lustre-volume-example
    volumeAttributes:
      source: YOUR_IP_FOR_LUSTRE@tcp:/testfs
  mountOptions:
    - flock
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: klustre-static-pvc
  namespace: klustre-system
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 96Gi
  storageClassName: klustre-static
  volumeName: klustre-static-pv
